@using SweetOrSavory.ViewModels
@model LoginViewModel

<h2>Log in with your account</h2>
<hr/>

@if(!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(modelState => modelState.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <input type="submit" value="Log in" class="btn btn-primary" />
}

<p>@Html.ActionLink("Register for an account", "Register")</p>
<p>@Html.ActionLink("Back to accounts page", "Index")</p>