@using Microsoft.AspNetCore.Mvc;
@using SweetOrSavory.Models;
@using System.Collections.Generic;
@using System.Linq;

<h1>Welcome to the Pierres Sweet or Savory Treats!</h1>

<hr />

<h4>Treats</h4>
@if (Model["treat"].Length == 0)
{
    <p>No treats have been added yet!</p>
}
<ul>
    @foreach (Treat treat in Model["Treat"])
    {
        <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</li>
    }
</ul>

@if (User.Identity.IsAuthenticated)
{
    <h4>Items for @User.Identity.Name</h4>
    @if (Model["flavors"].Length == 0)
    {
        <p>No flavors have been added yet!</p>
    }
    <ul>
    @foreach (Flavor flavor in Model["flavors"])
        {
            <li>@Html.ActionLink(@flavor.Description, "Details", "Flavors", new { id = @flavor.FlavorId })</li>
        }
    </ul>
}
else
{
    <h4>Items</h4>
    <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your treats and flavors.</p>
}

<hr />

<p>@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Manage Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>